*{
    margin: 0;
    padding: 0;
}
.title{
    font-size: 50px;
    color: rgb(78, 13, 138);
    font-weight: bold;
}

.btn{
    
        background: linear-gradient(rgb(175, 74, 175), rgb(36, 13, 138));
        border: none;
        padding: 8px;
        border-radius: 10px;
        color: white;
        outline: none;
}

.inp{
    
    margin: 5px auto;
    height: 40px;
    border: 2px solid rgba(128, 0, 128, 0.651);
    border-radius: 5px;
    outline: none;
    &::placeholder{
        color: rgba(77, 0, 128, 0.705);
    }
}

.login{
    

   
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.sign{
    text-align: center;
 
    width: 90%;
    margin: 0 auto;
   
}

.sign__form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.sign__form input{
   
    width: 30%;
}
.sign__btns{
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.sign__btn{
    width: 40%;
    display: flex;
    justify-content: center;
}

.sign__button{
    margin: 20px 0 0;
    button{
        width: 30%;
       
    }
}